.git
.venv
__pycache__
*.pyc
.pytest_cache
.mypy_cache
.ruff_cache
known_firmware/downloads
known_firmware/extracted
known_firmware/logs
known_firmware/**/*.zip
known_firmware/**/*.img
known_firmware/**/*.chk
known_firmware/**/*.bin
known_firmware/**/*.trx
known_firmware/**/*.tar
known_firmware/**/*.gz
known_firmware/**/*.7z
known_firmware/**/*.squashfs
known_firmware/**/*.ubi
known_firmware/**/*.ubifs
known_firmware/**/*.elf
known_firmware/**/*.ghidra
